:root {
    /*fill*/
     --fillprimary:#2196f3;
     --fillcontact:#757575;
     --fillworkers:#afb1b8;
     --fillwhite:#fff;
    /*background*/
    --backgroundbody:#fff;
    --backgroundbutton:#2196f3;
    --backgroundtopindex:#2f303a;
    --backgroundframe:#f5f4fa;
    --backgroundworkers:rgba(255, 255, 255, 0.1);
    --backgroundourworkers:rgba(47, 48, 58, 0.8);
    --backgroundbackdrop:rgba(0, 0, 0, 0.2);
    --backgroundcard:rgba(33, 150, 243, 0.9);
    /*color*/
    --colorprimary:#212121;
    --colorbutton:#2196f3;
    --colorsecondary:#fff;
    --colorshade:#757575;
    --colorbutton2:rgba(38, 38, 38, 1);
    --colorfootsy:rgba(255, 255, 255, 0.6);
    --colornavigation:rgba(31, 31, 31, 1);
    /*border*/
    --colorborder:#2196f3;
    --colorbordersec:rgba(255, 255, 255, 0.3);
    --colorbordergroup:rgba(33, 33, 33, 0.2);
    --colorbordercard:rgba(238, 238, 238, 1);
    --colorborderbottom:#e5e5e5;
 }


