.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border:var(--colorsecondary);
    background-color: var(--colorsecondary);
    cursor: pointer;
    &:hover{
      fill:var(--fillprimary);
    }
    &__icon{
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
        
    }
  }

  .close-mobile {
    position: absolute;
    right:30px;
    top:40px;
    width: 18px;
    height: 18px;
    border:var(--colorsecondary);
    background-color: var(--colorsecondary);
    
    cursor: pointer;
    &:hover{
      fill:var(--fillprimary);
    }
    &__icon{
      position: absolute;
      right:0px;
      top:0px;
      width: 18px;
      height: 18px;
        
    }
  }