.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--backgroundbody);
    border: 1px solid (0, 0, 0, 0.1);
    cursor: pointer;
  }