.footsy {
  text-align:center;
  display: flex;
  flex-direction:column;
  align-items:center;
  align-content:center;
  padding: 60px 0px 0px;



  &__chapter{
    max-width: 480px;
  }

  &__mailto2 {

    color: var(--colorfootsy);
    text-decoration: none;
    line-height: 1.714em;
    max-width: 480px;
  }
  
  &__tele2  {
    color: var(--colorfootsy);
    text-decoration: none;
    line-height: 1.714em;
    max-width:480px;
  }

  &__adressdown {
    color: var(--colorsecondary);
    line-height: 1.714em;
    max-width:480px;
  }
  
}

@media screen and (min-width: 768px)
{
  .footsy
  {
    
    height:463px;
    width:100%;
    
    &__tablet{
      display:flex;
      align-items:center;
      margin-bottom:60px;
    }
  }
}


@media screen and (min-width: 1200px){
.footsy{
justify-content: space-between;
display: flex;
display:grid;
grid-template-columns: auto auto;
height:252px;
align-items:flex-start;
align-content: flex-start;
text-align:start;
padding:60px 15px;
width:1200px;

}}
/*.footsy {
    justify-content: flex-start;
    display: flex;
    align-items:center;
    align-content:center;
  
    &__chapter{
      
    }

    &__mailto2 {
      color: var(--colorfootsy);
      text-decoration: none;
      line-height: 1.714em;
    }
    
    &__tele2  {
      color: var(--colorfootsy);
      text-decoration: none;
      line-height: 1.714em;
    }

    &__adressdown {
      color: var(--colorsecondary);
      line-height: 1.714em;
    }
    
  }
   */