.header {
  position: relative;
  padding: 24px 15px 25px;
  border-bottom: thin solid var(--colorborderbottom);

&__ul2{
  list-style:none;
}

 &__ul
 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items:center;

}

&__list {
  list-style: none;
  display: flex;
}
}

@media screen and (min-width: 1200px){
  .header{
    &__ul2{
      display:flex;
    }
  }
  }

/*.header {
  position: relative;
  padding: 24px 0px 25px;
  border-bottom: thin solid var(--colorborderbottom);

 &__ul,
 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items:center;

}

&__list {
  list-style: none;
  display: flex;
}
}

*/