.text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--colorshade);

  &:hover &__form-group1,
  &:hover &__form-group1--size  {
  border: 1px solid var(--colorborder);
}
  &:focus &__form-group1--size {
  border: 1px solid var(--colorborder);
}

&:hover &__form-group1 + &__form-icon1 {
  fill: var(--fillprimary);
}
&:focus &__form-group1--size + &__form-icon1 {
  fill: var(--fillprimary);
}
  
  &__form-group1 {
    width:370px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid var(--colorbordergroup);
    border-radius: 4px;
    padding-left: 30px;

    &--size {
      width:370px;
      height: 120px;
      margin-top: 4px;
      margin-bottom: 10px;
      resize: none;
      border: 1px solid var(--colorbordergroup);
      border-radius: 4px;
      padding: 12px 16px;

      &:hover::placeholder{
        color:var(--colorbutton);
      }
      
    }
    
    
  }
  
&__form-icon1 {
  position: relative;
  width: 12px;
  height: 12px;
  bottom: 35px;
  left: 10px;
}

}
/*
.text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--colorshade);

  &:hover &__form-group1,
  &:hover &__form-group1--size  {
  border: 1px solid var(--colorborder);
}
  &:focus &__form-group1--size {
  border: 1px solid var(--colorborder);
}

&:hover &__form-group1 + &__form-icon1 {
  fill: var(--fillprimary);
}
&:focus &__form-group1--size + &__form-icon1 {
  fill: var(--fillprimary);
}
  
  &__form-group1 {
    width: 448px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid var(--colorbordergroup);
    border-radius: 4px;
    padding-left: 30px;

    &--size {
      width: 448px;
      height: 120px;
      margin-top: 4px;
      margin-bottom: 10px;
      resize: none;
      border: 1px solid var(--colorbordergroup);
      border-radius: 4px;
      padding: 12px 16px;

      &:hover::placeholder{
        color:var(--colorbutton);
      }
      
    }
    
    
  }
  
&__form-icon1 {
  position: relative;
  width: 12px;
  height: 12px;
  bottom: 35px;
  left: 10px;
}

}

*/