.top-index {
  background-color: var(--backgroundtopindex);
  padding: 118px 58px 118px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1600px;

  &__topic {
    margin: 0 auto;
    width: 365px;
      font-weight: 900;
    font-size: 26px;
    line-height: 1.61em;
    text-transform: uppercase;
    color: var(--colorsecondary);
  
  }
}

@media screen and (max-width: 479px)
{
  .top-index {
    padding: 20px 0px;
 
    max-width: 480px;
  
    &__topic {
      width: 80vw;
        font-weight: 900;
      font-size: 5vw;
     
    }
  }
}


@media screen and (min-width: 1200px)
{
  .top-index {
  
    &__topic {
      width: 696px;
      font-size: 44px;
      line-height: 1.36em;
      margin-bottom:30px;
    }
  }
  
}
/*

.top-index {
  background-color: var(--backgroundtopindex);
  padding: 200px 0px 240px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1600px;

  &__topic {
    margin: 0 auto;
    width: 696px;
      font-weight: 900;
    font-size: 44px;
    line-height: 1.364em;
    text-transform: uppercase;
    color: var(--colorsecondary);
  
  }
}
*/