.background {
    background-image: url(../images/backgroundindex.jpg),
      linear-gradient(black, white);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
  }