.footer {
  display:flex;
  
  background-color: #2f303a;
  height:603px;
}

@media screen and (min-width: 768px){

.footer{
  height:463px;
}
}

@media screen and (min-width: 1200px){

  .footer{
    height:252px;
    
  }
  }
  
/*
.footer {
    background-color: #2f303a;
    padding: 60px 0px 60px;
  }
  */